<!DOCTYPE html>
<html>
<head>
  <title>Cart Items</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
  body {
      font-size:xx-large;
  }
  </style>
</head>
<body>
<div class="container">
  {% if items %}
    <table class="table table table-striped table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.item.price }} each</td>
            <td><button class="btn btn-lg btn-danger">Delete</button></td>
          </tr>
        {% endfor %}      
      </tbody>
    </table>
  {% else %}
    <h1 class="text-center">No items in cart</h1>
  {% endif %}
</div>
</body>
</html>